* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
}

.container {
    display: flex;
    max-width: 1100px;
    margin: auto;
    background: white;
    padding: 20px;
}

/* Cột trái */
.left {
    width: 30%;
    padding-right: 20px;
}

.left img {
    width: 100%;
    margin-bottom: 15px;
}

/* Cột phải */
.right {
    width: 70%;
}

.main-img {
    width: 100%;
    height: auto;
    margin: 15px 0;
}

.date {
    color: gray;
    font-size: 14px;
}
